@media only screen and (min-width: 801px) {
	
	body { 
		background-color: #666; 
	}
	
	#panels, #indexeddbtest {
		width: 760px;
	}
	
	#mq800 { display: block; }
	#mq320, #mq600 { display: none; }
	
	#container, .description {
		width: 801px;
	}
	
}